.content{
    border-radius: 5px;
    background-color: lightpink;
    solid #ccc;
    margin: 20px auto;
}
.heading{
    text-align: center;
    font-size: 25px;
    padding-bottom: 5px;
    color: red;
    font-style: italic;
    background-color: lightblue;
}
.padd{
	margin-bottom: 15px;

}
button{
	background-color: lightblue;
	color: black;
	width: 100%;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
}